@charset "utf-8";
.mid{
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: atuo;
    position: relative;
    background: linear-gradient(135deg, #0f2027 0%, #2c5364 100%);
    min-height: calc(100vh - 120px);
    overflow: hidden;

}

.mid::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('/static/images/backgrounds.jpg') center/cover no-repeat;
    opacity: 0.12; /* 透明度可调 */
    filter: blur(4px);
    z-index: 0;
    pointer-events: none;
}
.banner, .mid > * {
    position: relative;
    z-index: 1;
}

.banner{
    list-style: none;
    position: absolute;
    padding: 0;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 1150px;
    height: 480px;
    animation: imgload1 1s linear;
}

.banner li{
    float: left;
    position: absolute;
    left: 0px;
    transition-duration: 0.4s;
    overflow: hidden;
}

.banner img{
    transition: all .5s;
    filter: grayscale(0.5);
    border-radius: 18px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);
}

.banner img:hover{
    transform: scale(1.1);
    filter: grayscale(0);
}


.banner div{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background: rgb(123, 168, 175);
    float: left;
    bottom: -100px;
}

@keyframes imgload1{
    0%{
        opacity: 0;
        margin-top: 300px;
    }100%{
        opacity: 1;
        margin-top: 170px;
    }
} 